{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="{{ url_for('buy') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="number"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Buy</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
