{% extends "layout.html" %}

{% block title %}
    C$50 Finance: Portfolio
{% endblock %}

{% block main %}
    <h2>My Portfolio</h2>
    <table class="table table-striped no-padding">
        <thead>
            <tr>
                <th class="col-md-4">Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
                <th colspan="2">Buy</th>
                <th colspan="2">Sell</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td colspan="5">${{'%0.2f'| format(grandTotal|float) }}</td>
            </tr>
        </tfoot>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>${{'%0.2f'| format(stock.price|float) }}</td>
                <td>${{'%0.2f'| format(stock.total|float) }}</td>
                <form action="{{ url_for('buy') }}" method="post">
                    <fieldset>
                        <input autocomplete="off" class="form-control" name="symbol" value="{{ stock.symbol }}" type="hidden"/>
                        <td>
                            <input autocomplete="off" class="form-control" id="buy" name="shares" placeholder="Buy" type="number"/>
                        </td>
                        <td>
                            <button class="btn-info" type="submit">Buy</button>
                        </td>
                    </fieldset>
                </form>
                <form action="{{ url_for('sell') }}" method="post">
                    <fieldset>
                        <input autocomplete="off" class="form-control" name="symbol" value="{{ stock.symbol }}" type="hidden"/>
                        <td>
                            <input autocomplete="off" class="form-control" id="sell" name="shares" placeholder="Sell" type="number"/>
                        </td>
                        <td>
                            <button class="btn-info" type="submit">Sell</button>
                        </td>
                    </fieldset>
                </form>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3">CASH</td>
                <td>${{'%0.2f'| format(cash|float) }}</td>
                <td colspan="2" id="buySum"></td>
                <td colspan="2" id="sellSum"></td>
            </tr>
        </tbody>
    </table>
    {% if stocks|length > 0 %}
    <!-- TradingView Widget BEGIN
    https://www.tradingview.com/widget/-->
    <div id="tv-medium-widget-545b7"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        /*global TradingView*/
        new TradingView.MediumWidget({
            "container_id": "tv-medium-widget-545b7",
            "symbols": [
            /* embed users portfolio in TradingView config */
            {% for stock in stocks %}
                [
                    "{{ stock.name }}",
                    "{{ stock.symbol }}"
                ]
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
            ],
            "greyText": "Quotes by",
            "gridLineColor": "#e9e9ea",
            "fontColor": "#83888D",
            "underLineColor": "#dbeffb",
            "trendLineColor": "#4bafe9",
            "width": "1000px",
            "height": "400px",
            "locale": "en"
        });
    </script>
    <!-- TradingView Widget END -->
    {% endif %}
{% endblock %}
