{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Explore Market</h2>
    <!-- TradingView Widget BEGIN
    https://www.tradingview.com/widget/-->
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        /*global TradingView*/
        new TradingView.widget({
            "width": 1000,
            "height": 610,
            "symbol": $('#symbol').val(),
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "Dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "hotlist": true,
            "news": [
            "headlines"
            ],
            "hideideas": true,
            "show_popup_button": true,
            "popup_width": "1000",
            "popup_height": "650"
        });
    </script>
    <!-- TradingView Widget END -->

    <br />
    <hr />
    <h2>Quote function (for cs50)</h2>
    <form action="{{ url_for('quote') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" id="symbol" name="symbol" placeholder="Symbol" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Quote</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
