{% extends "layout.html" %}

{% block title %}
    Quote - {{ quote.symbol }}
{% endblock %}

{% block main %}
    <!-- TradingView Widget BEGIN
    https://www.tradingview.com/widget/-->
    <div id="tv-medium-widget-8bd15"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        /*global TradingView*/
        new TradingView.MediumWidget({
          "container_id": "tv-medium-widget-8bd15",
          "symbols": [
            [
              "{{ quote.name }}",
              "{{ quote.symbol }} "
            ]
          ],
          "greyText": "Quotes by",
          "gridLineColor": "#e9e9ea",
          "fontColor": "#83888D",
          "underLineColor": "#dbeffb",
          "trendLineColor": "#4bafe9",
          "width": "1000px",
          "height": "400px",
          "locale": "en"
        });
    </script>
    <!-- TradingView Widget END -->

{% endblock %}
