{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                <select class="form-control" name="symbol">
                    <option disabled selected value="">Symbol</option>
                    {% for symbol in stocks %}
                        <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="number"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
