{% extends "layout.html" %}

{% block subtext %}
@{{ screen_name }}
{% endblock %}

{% block body %}
<form action="{{ url_for('search') }}" class="form-inline" method="get">
    <div class="form-group">
      <label class="sr-only" for="screen_name">screen_name</label>
      <input class="form-control" name="screen_name" placeholder="@screen_name" type="text"/>
  </div>
  <button class="btn btn-default" type="submit">Search</button>
</form>
<p id="loading">Loading...</p>
{{ chart | safe }}
{% endblock %}
